nav {
  width: 100%;
  background-color: rgb(58, 46, 42);
  min-height: 10vh;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

li {
  color: rgb(177, 129, 100);
  font-size: 22px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(177, 129, 100);
}
